<!-- <form action="/fake" method="get">
  <div class="form-group">
     <label for="name">What's your Tamagotchi's name?</label>
     <input name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger">Submit</button>
</form> -->
<h1>Welcome Tamagotchi</h1>
<a href="/tamagotchis">See Tamagotchis List</a>
<a href="/tamagotchis/new">Add New Tamagotchi</a>
