<h2><%= @name %></h2>

<h4>Food level: <%= @fed %></h4>
<h4>Activity level: <%= @happy %></h4>
<h4>Sleep level: <%= @energy %></h4>
<form action="/test" method="get">
  <div class="form-group">
    <button type="submit" class="btn-primary" name="commit" value="status">Status</button>
    <button type="submit" class="btn-success" name="commit" value="feed">Feed</button>
    <button type="submit" class="btn-info" name="commit" value="sleep">Sleep</button>
    <button type="submit"class="btn-warning" name="commit" value="play">Play</button>
  </div>
</form>
